@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(52,63,172);
    background: linear-gradient(90deg, rgba(52,63,172,1) 17%, rgba(103,85,240,1) 35%, rgba(76,74,170,1) 71%, rgba(52,52,138,1) 100%);
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}

.nav-bar-icon{
    width: 40%;
    display: flex;
    justify-content: end;
}

.nav-bar-icon img{
    width: 8%;
}

.nav-bar-github{
    width: 40%;
    display: flex;
    justify-content: start;
}
.nav-bar-github img{
    width: max(60px, 60px);
    border-radius: 50%;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-inicial{
    width: 50%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    justify-content: center;
}

.conteudo-inicial-conteudo{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-inicial-conteudo-texto {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.conteudo-inicial-conteudo-texto p{
    color: #c4c4c4;
    font-size: 150%;
}


.conteudo-inicial-linha{
    width: 100%;
    height: 0.2vh;
    border-radius: 4px;
    background-color: #c4c4c4;
    align-items: center;
}

.conteudo-inicial-paginas{
    width: 100%;
    height: 100%;
}

.conteudo-inicial-paginas-button{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo-inicial-paginas-button-block{
    width: 10vw;
    height: 20vh;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}


.conteudo-inicial-paginas-button-block:hover{
    width: 30%;
    height: 30vh;
    transition: 700ms;
    font-size: 150%;
}
.conteudo-inicial-paginas-button-block:after{
    width: 25%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.200);
    transition: 500ms;
}
.conteudo-inicial-paginas-button-block-link1{
    background-image: url(./img/Toronto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.conteudo-inicial-paginas-button-block-link1 a{
    width: 100%;
    height: 20%;
    display: flex;
    border-radius: 0% 0% 50px 50px;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    font-size: 100%;
}

.conteudo-inicial-paginas-button-block-link2{
    background-image: url(./img/whistler.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.conteudo-inicial-paginas-button-block-link2 a{
    width: 100%;
    height: 20%;
    display: flex;
    border-radius: 0% 0% 50px 50px;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    font-size: 100%;
}

.conteudo-inicial-paginas-button-block-link3{
    background-image: url(./img/Sydney.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.conteudo-inicial-paginas-button-block-link3 a{
    width: 100%;
    height: 20%;
    display: flex;
    border-radius: 0% 0% 50px 50px;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    font-size: 100%;
}
