*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    /* background: url(./img/background-index.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
    font-family: 'Roboto', sans-serif;
    background: rgb(118,137,224);
    background: linear-gradient(90deg, rgba(118,137,224,1) 8%, rgba(109,41,236,1) 49%, rgba(67,19,221,1) 75%, rgba(11,68,177,1) 97%, rgba(5,70,173,1) 100%);
}

header{
    width: 100%;
    height: 10vh;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
}

.nav-bar-icon{
    width: 3%;
}

.nav-bar-icon>img{
    width: 110%;
}


.nav-bar-text nav{
    width: 50%;
    height: 8vh;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link1 nav li a{
    color: #fff;
    text-decoration: none;
    position: relative;
    margin: 0px 100px 0px 0px;
  }
  
.link1 nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #ff0000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

.link1 nav li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: #ff0000;

}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-inicial{
    width: 50%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
}

.conteudo-inicial-texto{
    width: 80%;
    height: 13vh;
}

.conteudo-inicial-texto p{
    display: flex;
    justify-content: center;
    
}

.conteudo-inicial-linha{
    width: 100%;
    height: 0.2vh;
    border-radius: 4px;
    background-color: #c4c4c4;
    align-items: center;
}

.conteudo-inicial-paginas{
    width: 100%;
    height: 46.8vh;
}

.conteudo-inicial-paginas-button{
    width: 100%;
    height: 46.8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo-inicial-paginas-button-block{
    width: 25%;
    height: 25vh;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.conteudo-inicial-paginas-button-block:hover{
    width: 30%;
    height: 30vh;
    transition: 500ms;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.conteudo-inicial-paginas-button-block:after{
    width: 25%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.200);
    transition: 500ms;
}